/* NAV STYLE */

nav {
  background-color: rgb(32, 101, 136);
  color: white;
  padding: 25px 100px 0 100px;
  height: 50px;
  font-family: 'Source Sans Pro', 'Lucida Grande', sans-serif;
  vertical-align: middle;
}

nav a {
  color: white;
  text-decoration: none;
}

.top-links {
  padding-bottom: 10px;
  margin: 0 20px 0 0;
  float: right;
  display: inline-block;
}

.top-links li {
  margin: 0 10px;
  display: inline-block;
}


/* HEADER STYLE */

.header {
  background-color: rgb(32, 101, 136);
  min-height: 50vh;
  background-image: url(file:///C:/Users/g00dl/Desktop/PreWork/HTML/lab-html-module-exercise-master/starter-code/images/city-scape.svg);
  background-size: cover;
  overflow: hidden;
}

.search-bar {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgb(31, 82, 111);
  padding-left: 50px;
  justify-content: space-around;
}

.search-bar svg {
  margin-top: 20px; 
}

#s-b {
  margin-top: 15px;  
}

#s-button {
  background-color: rgb(203, 56, 55);
  border-radius: 10px;
  border-style: none;
  font-family: "Open Sans", OpenSans, sans-serif;
  color: white;
}

.search {
  display: inline;
  padding: 0 500px 0 100px;
}

#npm-logo {
  margin-top: 10px;
}

.content {
  font-size: 1.25rem;
  font-weight: 200;
  font-family: "Open Sans", OpenSans, sans-serif;
  color: white;
  margin: 0 auto;
  padding-left: 400px;
}

.content h2 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.sign-up-orange-button {
  display: block;
  width: 200px;
  height: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(240, 146, 51);
  border-radius: 50px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.search-bar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "Open Sans", OpenSans, sans-serif;
}

.search-bar p {
  color: white;
  font-family: "Open Sans", OpenSans, sans-serif;
}

.heart {
  color: red;
}

/* SECTION 1 STYLE */

#orgs-section {
  background-color: rgb(39, 53, 71);
}

.container1 {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#img1 {
  width: 20%;
  position: relative;
  margin: 70px 50px 100px 400px;
}

.orgs-container {
  color: white;
  font-family: "Open Sans", OpenSans, sans-serif;
  margin: 70px 200px 100px 50px;
  display: block;
}

.button2 {
  color: white;
}

.sign-up-red-button {
  display: block;
  width: 200px;
  height: 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(203, 56, 55);
  border-radius: 50px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.learn-orgs {
  text-decoration: none;
  color: white;
  font-weight: bold;
  }

  /* SECTION 2 STYLE */

  #install-section {
    background-image: url(file:///C:/Users/g00dl/Desktop/PreWork/HTML/lab-html-module-exercise-master/starter-code/images/forklift.svg);
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  #npm {
    color: white;
    font-family: "Open Sans", OpenSans, sans-serif;
    margin: 50px auto 200px 400px;
  }

  .install-button {
    display: block;
    width: 200px;
    height: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(49, 68, 88);
    border-radius: 50px;
    margin-left: 15px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  }

  /* SECTION 3 STYLE */

.title {
  font-family: "Open Sans", OpenSans, sans-serif;
  text-align: center;
  font-size: 2.25rem;
}

.cat {
  font-family: "Open Sans", OpenSans, sans-serif;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 25px 500px 0 450px;
}

.cat a {
  text-decoration: none;
  color: red;
}
